.app-sidebar-cont{
     width:  14%;
     min-width: 200px;
     height: 100vh;  
     position: relative;
     left: 0;
     top: 0;
     bottom: 0;
     z-index: 0;
     background-color: #017D5C;
     border-right: 1px solid #e0e0e0;
     /* box-shadow: 4px 0px 12px  rgba(0, 0, 0, 0.01); */
}

.app-sidebar-top-cont{

}

.sidebar-button-cont{
     width: 86%;
     margin-left: 6%;
     margin-top: 7px;
     border-radius: 5px;
     height: fit-content;
     color: #A4DDCE;
}


.sidebar-add-button-cont{
     width: 100%;   
     /* padding: 12px; */
     /* padding-top: 17px; */
     
     /* padding-bottom: 17px; */
     /* border-bottom: 1px solid #e0e0e0; */
}


.sidebar-button-selec-cont{
     background-color: #05936D;
     color: #fff;
     
}

.sidebar-act-button{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     padding-left:12px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-bottom: 9px;
     border-style: none;
     display: flex;
     text-decoration: none;
     color:inherit;
     /* justify-content: center; */
     align-items: center;
     cursor: pointer;
}

.sidebar-button-lnk{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     padding-left:12px;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-bottom: 9px;
     border-style: none;
     display: flex;
     text-decoration: none;
     color:inherit;
     /* justify-content: center; */
     align-items: center;
     cursor: pointer;
}

.sidebar-dark-button{
     background-color: #016A4D;
     width: calc(100% );
     margin-right: 12px;
     padding-top: 9px;   
     padding-bottom: 9px;
     margin-bottom: 8px;
     border-style: none;
     border: 1px solid #008965;
     border-radius: 5px;
     display: flex;
     color:inherit;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.sidebar-dark-butt-lab{
     margin-left: 7px;
     font-family: 'inter';
     font-weight: 600;
     font-size: 11px;
     
     color: #fff;
}

.sidebar-button-ico{
     width: 17px;
     height: 17px;
     color: inherit;
}    

.sidebar-button-lab{
     margin-left: 7px;
     font-family: 'inter';
     font-weight: 500;
     font-size: 12px;
     color: inherit;
}

.sidebar-lab-cont
{
     color: #5CB89F;
     font-size: 11px;
     font-family: inter;
     font-weight: 700;
     padding-left: 25px;
     padding-top: 22px;
     padding-bottom: 6px;
     letter-spacing: 3px;
     /* padding-bottom: 12px; */
}

.sidebar-div-cont{
     width: 80%;
     margin-left: 10%;
     height: 1px;
     background-color: #188C6D;
     margin-top: 12px;
     margin-bottom: 12px;
}

.app-sidebar-bottom-cont{
     position: absolute;
     width: 100%;
     bottom: 0;
     margin-bottom: 12px;
}

.sidebar-comp-logo-cont{
     display: flex;
     height: 72px;
     align-items: center;
     padding-left: 22px;
     background-color: #008965;
     /* border-bottom: 1px solid #e0e0e0; */
}

.sidebar-logo-lable{
     font-weight: 800;
     font-size: 17px;
     color: #fff;
     font-family: inter;
     margin-left: 6px;
}

.sidebar-logo-ico{
     width: 32px;
     height: 32px;
     color: #fff;
}

.app-page-head-right-cont{
margin-right: 6%;
position: absolute;
font-size: 15px;
right: 0;
top:0;
/* background-color: red; */
display: flex;
height: 100%;
align-items: center;
}

.app-page-head-cont{
     width: auto;
     position: relative;
     height: auto;
     /* padding: 6%; */
     /* padding-top: 4%; */
     /* padding-bottom: 4%; */
     /* padding-top: 0px; */
     /* padding-bottom: 0px;   */
    border-bottom: 1px solid #e0e0e0;
}

.app-page-head-lab-cont{
     font-weight: 600;
     font-size: 32px;
     color: #555555;
     display: flex;
     flex: 1;
     width: auto;
     align-items: center;
}

.app-page-head-cont-ico-cont{
     margin-right: 6px;
     
}

.app-page-head-cont-ico{
     width: 32px;
     height: 32px;
     
}
.app-page-tab-cont{
     width: 100%;
     /* padding-top: 17px; */
     /* padding-bottom: 12px; */
     height: auto;
     position: absolute;
     z-index: 100;
     background: rgba(248, 249, 250, 0.704);
     backdrop-filter: blur(22px);
     /* margin-bottom: 32px; */
     display: inline-flex;
     /* justify-content: center; */
     align-items: center;
     border-bottom: 1px solid #e0e0e0;
}

.app-profile-tab-cont{
     width: 100%;     
     height: auto;
     /* position: absolute; */
     z-index: 100;
     background: rgba(248, 249, 250, 0.704);
     backdrop-filter: blur(22px);
     border-bottom: 1px solid #e0e0e0;
     /* margin-top: 12px; */
     display: inline-flex;
     align-items: center;
     justify-content: center;

}

.app-product-listing-tab-cont{
     width: 100%;
     height: auto;
     display: inline-flex;
     align-items: center;

     border-bottom: 1px solid #e0e0e0;
}

.app-tab-main-cont{
     margin-left: 32px;
}

.app-tab-butt{
     height: 52px;
     width: auto;
     padding-left: 32px;
     padding-right: 32px;
     border-style: none;
     color: #555555;
     background-color: transparent;
     border:null;
     /* border-radius: 115px; */
     cursor: pointer;
     font-size: 14px;
}

.app-profile-tab-selec{
     color: #017D5C;
     
     border-top: 4px solid #017D5C ;
}

.app-tab-selec{
     /* background-color: #E6F2FF; */
     /* color: #fff; */
     color: #017D5C;
     /* border:1px solid #0057FF; */
     border-bottom: 4px solid #017D5C ;
}

.app-prod-list-hed{
     
     color: #555555;    
}

.prod-list-opt-list-butt-cont{
     margin-right: 8px;
}

.topbar-page-lab-cont{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 22px;

}


.app-prod-list-bottom-cont{
     width: auto;
     height: auto;
     padding: 5%;
     padding-top: 3%;
     min-width: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* padding-bottom: 0%;   */
     /* display: flex; */
     /* align-items: center; */
}

.prodtable-card-cont{
     background-color: #fff;
     width: 100%;
     z-index: 100;
     margin-bottom: 54px;
     box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
     
}

.app-prod-tab-cont{
width: 100%;

}

.app-prod-anal-card-lab{
     font-size: 14px;
color: #323232;
font-weight: 600;
}

.app-prod-anal-list-main-cont{
    margin-bottom: 22px; 
    display: inline-flex;
    gap: 22px;
}

.app-prod-anal-data-lab{
     font-size: 28px;
     color: #188C6D;
     
     /* margin-top: 6px; */
     font-weight: 700;
}



.app-anal-card-cont{
     width: 100px;
     height: 200px;
     background-color: red;
}

.prod-list-opt-con{
     width: 100%;
     /* padding: 12px; */
     padding-top: 22px;
     padding-bottom: 22px;
     display: inline-flex;
     position: relative;
     border-bottom: 1px solid #e0e0e0;
}

.prod-list-srch-cont{
     margin-left: 22px;
     margin-right: 22px;
     width: 40%;
 
}

.prod-list-srch-ico{
     width: 18px;
     height: 18px;
     
}

.prod-list-srch-txt{
     height: 32px;
     width: 100%;
     background-color: rgba(0 , 0, 0,0);
     border-style: none;
     padding-left:12px;
     outline: none;
}

.prod-list-sort-butt-ico
{
     width: 16px;
     height: 16px;
     margin-right: 4px;
}

.prod-list-sort-butt{
     height: 32px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 13px;
     color: #0057FF;
     background-color: #fff;
     padding-left: 16px;
     padding-right: 16px;
     margin-right: 12px;
     border-radius: 6px;
     cursor: pointer;
     outline: none;
     border: 1px solid #DBDBDB;
}

.prod-list-opt-list-right-cont{
     width: auto;
     height: 100%;
     
     position: absolute;
     display: flex;
     align-items: center;
     padding-right: 22px;
     right: 0;
     top: 0;
}

.data-tab-main-cont{
     
}
.data-tab-main{
     
}

.data-tab-row-cont{
     border-style: none;

}

.MuiTableRow-root	{
     
     border-style: none;
}

.data-tab-body-cont{
     box-shadow: none;
     border-style: none;
}

.data-tab-data-stat-data-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.data-tab-data-stat-data{
     font-size: 12px;
     width: fit-content;
     background: rgba(186, 255, 193, 0.45);
     padding-left: 12px;
     padding-right: 12px;
     display: flex;
     color: #008965;
     justify-content: center;
     align-items: center;
     padding-top: 5px;
     padding-bottom: 5px;
     border-radius: 8px;

}

.data-tab-selec-cell-cont{
     width: 40px;
}

.data-tab-selec-img-cont{
     width:50px;
     
}

.data-tab-data-name-cont{
     width: 200px;
     max-width: 200px;
}

.data-tab-act-cont{
     width: 150px;
}

.data-tab-data-name-data{
     /* font-weight: 500; */
     font-family: 'poppins';
}

.data-tab-data-link-data{
display: inline-flex;
align-items: center;
}

.app-tab-del-mod-lab{
     font-size: 18px;
     font-weight: 700;
     color:#555555;
}

.app-del-mess-desc{
     margin-bottom: 22px;
     font-size: 13px;
     color: #555555;
     
}


.data-tab-data-link
{
     color: #0057FF;
     text-decoration: none;
}

.prod-tab-del-mod-cont{
     padding: 22px;
}

.data-tab-data-img-data{
     width: 42px;
     height: 42px;
     background-color: #f5f5f5;
     border-radius: 8px;
}

.data-tab-data-act-cont{
     
     display: inline-flex;

     
}

.data-tab-data-nrm-data{
     font-size: 13px;


}


.app-prod-add-form-cont{
     width: 50%;

}


.app-prod-add-form-inner{
     padding: 22px;
     padding-bottom: 1px;
}



.app-prod-add-footer-inner{
     padding: 12px;
     width: 100%;
     flex: 1;
     flex-direction: row;
     display: inline-flex;
     flex-direction: row ;
}

.app-prod-add-form-footer-right-cont{
     display: flex;
     flex: 1;
     width: auto;
     justify-content: end;
}

.app-popover-cont{
     width: 200px;
     padding: 7px;
     font-size: 13px;
}

.app-side-bar-popover-cont{
     width: 150px;
     padding: 7px;
     font-size: 13px;
}

.app-popover-lab-cont{
 /* margin-bottom: 12px; */

 padding: 12px;
 
}

.app-popover-rad-data-cont{
     width: 100%;
}

.app-prof-pic-cont{
     width: 102px;
     height: 102px;
     background-color: #f1f1f1;
     border-radius: 200px;
     
}

.app-prof-card-lab-cont{
     margin-bottom: 12px;
     font-size: 14px;
     color:#656565;
     font-weight: 600;
     }

.app-prof-marker-cont{
     padding-bottom: 32px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
}

.app-login-left-tab-cont{
     font-size: 23px;
     font-weight: 600;

}

.app-login-logo-cont{
     padding: 22px;
     position: absolute;
     top: 0;
     left: '22px';
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 110;
     
}

.app-login-logo{
     width: 42px;
     height: 42px;
     z-index: 110;
     color: #000;
}

.app-login-left-sub-tab-cont{
     font-size: 14px;

}

.app-login-cred-crt-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.app-login-for-link{
          font-size: 12px;
          text-decoration: none;
          color: #008965;
}

.app-login-cret-link{
     font-size: 13px;
     font-weight: 600;
     color: #008965;
     text-decoration: none;
}

.app-earn-card-cont{
     border:1px solid #e0e0e0;
     width: 230px;     
     height: auto;
     border-radius: 8px;
     
}

.app-earn-card-lab-cont{
     font-size: 14px;
     font-family: inter;
     color: #017D5C;
     position: relative;
     padding: 15px;
     border-bottom: 1px solid #e0e0e0;
}

.app-earn-card-lab-right-cont{
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     width: auto;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-earn-card-data-cont{
     font-size: 32px;
     padding: 22px;
     padding-top: 11px;
     padding-bottom: 11px;
}

.data-earn-tab-ind-cont{
     width: 50px;
     
}