/*///////////////////PRODUCT ADD/////////////////////////*/

.app-prod-add-form-cont{
     width: 50%;
}

.app-prod-add-form-inner{
     padding: 22px;
     
     padding-bottom: 1px;
}


.app-prod-add-form-data-cont{
     margin-bottom: 22px;
}

.app-prod-add-form-tag-cont{
     display: inline-flex;
     gap: 7px;
     margin-top: 12px;
     justify-content: center;
     align-items: center;
}

.app-prod-add-form-tag{
     background: #DAEFFF;
     color: #0094FF;
     font-size:11px;
     padding: 3px;
     padding-left: 8px;
     padding-right: 8px;
     border-radius: 4px;
     cursor: pointer;
}

.app-prod-add-form-data-hr{
     width: 100%;
     height: 1px;
     border-bottom: 1px solid #d9d9d9;
     margin-bottom: 22px;
}

.app-prod-add-footer-inner{
     padding: 0px;
     width: 100%;
     flex: 1;
     flex-direction: row;
     display: inline-flex;
     flex-direction: row ;
}

.app-prod-add-form-footer-right-cont{
     display: flex;
     flex: 1;
     width: auto;
     justify-content: end;
}

/*////////////////////////PRODUCT DETAIL////////////////////*/

.app-prod-det-bottom-cont{
     width: 100%;
     height: calc(100% - 72px);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     flex-direction: row;
}


.app-prod-det-main-cont{
width: 55%;
display: flex;
flex: 1;
height: 100%;

}
.app-prod-det-left-main-cont{
width: 50%;
height: 100%;
display: flex;
flex: 1;
flex-direction: column;
position: relative;
border-right: 1px solid #e0e0e0;

/* background-color: #f9f9f9; */
}

.app-prof-det-left-top-main-cont{
     /* background-color: #f4f4f4; */
     /* background: rgba(5, 147, 109, 0.08); */
}

.app-prod-det-left-inner-cont{
     overflow-y: scroll;
     z-index: 40;
     padding: 52px;
     padding-top:52px;
}

.app-prod-det-left-footer-cont{
padding: 12px;
border-top: 1px solid #e0e0e0;
position: absolute;
z-index: 100;
display: inline-flex;
justify-content: end;
background-color: #fff;
 bottom: 0;
right: 0; 
left: 0; 
}

.app-prod-det-card-inner{
     padding: 32px;
}

.app-prod-det-right-main-cont{
     width: 45%;
     height: 100%;
     position: relative;
     max-height: 100%;
     min-height: 100%;
     overflow-y: hidden;
     background-color: #fff; 
    
}

.app-prod-det-left-card-cont{
     margin-bottom: 42px;    
}


.app-prod-cont-butt-cont{
     width: 100%;
     height: 52px;
     display: flex;
     justify-content: center;
     align-content: center;
     /* gap: 12px; */
}

/*//////////////PROFILE SECTION ///////////////*/

.app-prof-out-main-cont{
     width: 100%;
     height: 100%;
     display: flex;
     overflow-y: scroll;
     justify-content: center;
     /* background-color: #f9f9f9;     */
}

.app-prof-main-out-cont{
     width: 100%;
     height: 100%;
     display: flex;
     flex: 1;
     flex-direction: row;
}

.app-prof-tab-out-lab{
     padding: 22px;
     color: #353535;
     font-size: 14px;
     font-weight: 600;
     /* margin-bottom: 22px; */
     /* border-bottom: 1px solid #e0e0e0; */
}

.app-prof-tab-out-main-cont{
     width: 280px;
     padding: 22px;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content: center; */
     /* padding-top: 32px; */

     border-right: 1px solid #e0e0e0;
     /* padding-top: 22px; */
}

.app-prof-side-bar-hr-cont{
     width: 100%;
     height: 1px;
     background-color: #e0e0e0;
}

.app-prof-main-cont{
width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;


}

.app-prof-prof-data-main-cont{
display: inline-flex;
width: 100%;

}

.app-prof-name-data-main-cont{
display: flex;
flex: 1;
padding-left: 22px;
flex-direction: column;
}

.app-prof-card-main-cont{
     margin-bottom: 32px;
}

.app-prof-inner-cont{
     width: 100%;
     height: 100%;
     z-index: 40;
     display: flex;
     justify-content: start;
     flex-direction: column;
     overflow-y: scroll;    
     
}

.app-prof-inner-form-cont{
     width: 70%;
     height: max-content;
     padding: 52px;   
     padding-top: 32px;  
     /* border-right: 1px solid #e0e0e0; */
     background-color: #fff;
}

.app-prof-form-data-cont{
     width: 100%;
     margin-bottom: 16px;
}

.app-prof-info-name-cont{
     display: inline-flex;
     flex: 1;
     width: 100%;
     gap: 12px;
}

/*////////////LOGIN SECTION////////*/

.app-login-left-cont{
width: auto;
height: 100vh;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 0.8;
background-color: #fff;
z-index: 100;
box-shadow: 4px 0px 6px  rgba(0, 0, 0, 0.07);
}
.app-login-right-cont{
     width: auto;
     height: 100vh;
     min-height: 100vh;
     display: flex;
     z-index: 50;
     flex-direction: column;
     flex: 1;
     background-color: #017D5C;
     
     
}

.app-login-cred-form-cont{
     width: 60%;
     height: auto;
     margin-top: 26px;
     padding: 22px;
     border-radius: 8px;
     border:1px solid #e0e0e0;

     box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.04);
}
.app-login-cred-googl-form-cont{
     width: 50%;
     height: auto;
     margin-top: 26px;
     
}
.app-login-cred-form-data-cont{
     margin-top: 16px;     
}


/*////////////////EARNINGS SECTION//////////////////////////*/


.app-prod-lab-cont{
     margin-bottom: 32px;

}


.app-earn-seg-lab-cont{
     font-size: 16px;
     padding: 22px;
     padding-left: 32px;
     border-bottom: 1px solid #e0e0e0;
     background-color: #000;
     display: flex;
     flex-direction: row;
     gap: 7px;
     align-items: center;
     color: #fff;
     font-weight: 600;
     border-radius: 32px;
}

.seg-lab-ver-2{
     background-color: #BCDAD6;
     color: #03363E;
}

.app-earn-seg-body{
     padding: 52px;     
}

.app-earn-mid-slab-cont{
     display: flex;
     flex-direction: row;
     flex: 1;
     gap: 0;
     border-bottom: 1px solid #e0e0e0;
     /* padding-left: 52px;      */
     
}

.mid-slab-justi{
     align-items: center;
          background-color: #f9f9f9;
     /* background: repeating-linear-gradient(
          90deg,
          #f9f9f9,
          #f9f9f9 22px,
          #fff 22px,
          #fff 40px
        );; */
}

.app-earn-card-main-cont{
     display: flex;
     flex-direction: column;
     gap:22px;
     
     flex: 1   ;
     padding: 52px;
         /* border-right: 1px solid #e0e0e0; */

     width: auto;
     /* justify-content: center; */
}

.app-earn-chart-main-cont{
     background-color: #fff;
     
     display: flex;
     flex-direction: column;
     flex: 1;
     width: auto;
     
}

.app-earn-chart-cont{
     width: 100%;
     height: 100%;
     background-color: #fff;
     border-radius: 6px;
     border: 1px solid #e0e0e0;
}



.app-earn-card-row-cont{
     display: flex;
     flex-direction: row;
     gap: 22px;
}

.app-earn-lab-right-cont{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 22px;
     width: 30px;
     height: 100%;
     background-color: red;
}

.app-earn-lab-cont{
     display: flex;
     flex-direction: row;
     padding: 52px;
     align-items: center;
     /* border-bottom: 1px solid #e0e0e0; */
}

.app-earn-tabl-main-cont{
     border:1px solid #e0e0e0;
     border-radius: 7px;

}
.app-earn-butt-cont{
     width: 100%;
     height: auto;
     gap:12px;
     display: flex;
     justify-content: end;
     margin-bottom: 22px;
}


.app-earn-bottom-cont{
     width: auto;
     height: auto;
     min-width: 800px;
     display: flex;
     /* justify-content: center; */
     /* align-items: center;      */
}

.app-earn-bottom-left-cont{
     width: 70%;
     height: 100%;
     /* padding: 52px; */
     border-right: 1px solid #e0e0e0;
     
}

.app-earn-bottom-left-lab-cont{
     font-size: 16px;
     padding-left: 4px;
     font-weight: 600;
     font-family: inter;
     margin-bottom: 22px;
     color: #03363E;

}

.app-earn-bottom-right-cont{
     height: 100%;
     display: flex;
     flex: 1;
     flex-direction: column;
     border-bottom: 1px solid #e0e0e0;
     /* background-color: red; */
}

/*//////////////SIDE BAR ADD//////////////*/

.app-side-logo-cont{
     
}

.app-side-link-butt-lnk{
     text-decoration: none;
     width: 100%;
     height: 100%;
     display:  flex;
     flex-direction: row;
     font-size: inherit;
     gap: 6px;
     align-items: center;
     padding-left: 12px;
     color: inherit;
}

.app-side-link-butt-lnk-selec{
     background-color: #F3EBDC;
     /* font-weight: 600; */
     color: #136656;
}

.app-side-link-butt-lab{
     font-size: 12px;
     font-family: inter;
     font-weight: 600;
}

.app-side-butt-opt-main-cont{
 display: flex;
 flex-direction: column;
 gap: 8px;    
}

.app-side-butt-prod-main-cont{
     display: flex;
 flex-direction: column;
 gap: 8px;    
 margin-top: 12px;
}

.app-side-butt-bott-main-cont{
     width: 100%;
     height: fit-content;
     position: absolute;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 2px;
     bottom: 0;
     left: 0;
     right: 0;
     border-top: 1px solid #EBE1CE;
     padding: 12px;
     
}

.app-side-pro-bar-pic-cont{
     width: fit-content;
     height: 52px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: 17px;
     color: #000;
     
}

.app-side-pro-bar-pic{
     width: 32px;
     height: 32px;
     border-radius: 7px;
     background-color: #184A4E;

}

.app-side-pro-bar-name-cont{
     display: flex;
     flex-direction: column;
     flex: 1;
}

.app-side-pro-bar-name{
     font-size: 12px;
     display: flex;
     flex: 1;
     align-items: flex-end;
     color: #000;
     font-weight: 600;
}

.app-side-pro-bar-emal{
     font-size: 11px;
     display: flex;
     flex: 1;
     align-items: flex-start;
}

.app-side-bott-but{
     
}

.app-side-bott-but:hover{
     background-color: #fff;
     color: #184A4E;
}

.app-sidebar-cont{
     height: 100vh;  
     position: relative;
     left: 0;
     top: 0;
     bottom: 0;
     z-index: 0;
     background-color: #017D5C;
     /* border-right: 1px solid #e0e0e0; */
     /* box-shadow: 4px 0px 12px  rgba(0, 0, 0, 0.01); */
}

.app-sidebar-top-cont{

}


.sidebar-button-cont:hover{
     background-color: #058C68;
}


.light-sidebar-button-cont{
     width: 100%;
     margin-bottom: 10px;
     border-radius: 7px;
     height: fit-content;
     color: #656565;
     
}

.light-sidebar-button-cont:hover{
     background-color: #e0e0e0;
}

.light-sidebar-button-selec-cont{
     background-color: #f6f6f6;
     color: #0057FF;
     /* border-left: 5px solid #0094FF; */
}

.light-sidebar-act-button{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     height: auto;
     padding-left:12px;
     padding-top: 8px;
     padding-bottom: 8px;
     border-style: none;
     display: flex;
     font-size: 17px;
     text-decoration: none;
     color:inherit;
     /* justify-content: center; */
     align-items: center;
     cursor: pointer;
}

.light-sidebar-button-lab{
     margin-left: 7px;
     font-family: 'inter';
     font-weight: 500;
     font-size: 13px; 
     color: inherit;
}

.sidebar-add-button-cont{
     width: 100%;   
     /* padding: 12px; */
     /* padding-top: 17px; */
     
     /* padding-bottom: 17px; */
     /* border-bottom: 1px solid #e0e0e0; */
}


.sidebar-button-selec-cont{
     background-color: #05936D;
     color: #fff;
     
}



.sidebar-act-button{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     
     border-style: none;
     display: flex;
     text-decoration: none;
     color:inherit;
     /* justify-content: center; */
     align-items: center;
     cursor: pointer;
}
.sidebar-button-cont{
     width: 100%;    
     margin-top: 7px;
     border-radius: 7px;
     height: fit-content;
     color: #A4DDCE;
     
}

.sidebar-button-lnk{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     height: 100%;
     /* background-color: red; */
     
     border-style: none;
     display: flex;
     font-size: 15px;
     text-decoration: none;
     color:inherit;
     /* justify-content: center; */
     align-items: center;
     cursor: pointer;
}


.sidebar-button-lnk-selec-cont{
     color: #fff;
}
.sidebar-dark-button{
     background-color: #016A4D;
     width: calc(100%);
     height: 32px;
     border-style: none;
     border-radius  : 6px;
     font-size: 18px;
     display: flex;
     color:inherit;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.sidebar-border-button{
     background-color: transparent;
     width: calc(100%);
     height: 32px;
     border-radius  : 7px;
     border: 1px solid #1EA581;
     font-size: 19px;
     display: flex;
     color: #fff;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

.sidebar-dark-butt-lab{
     margin-left: 3px;
     font-family: 'inter';
     font-weight: 600;
     font-size: 11px;
     
     color: #fff;
}

.sidebar-button-ico{
     width: 17px;
     height: 17px;
     color: inherit;
}    

.sidebar-button-lab{
     margin-left: 7px;
     font-family: 'inter';
     font-weight: 500;
     font-size: 12px;
     color: inherit;
}

.sidebar-lab-cont
{
     color: #5CB89F;
     font-size: 11px;
     font-family: inter;
     font-weight: 700;
     padding-left: 12px;
     padding-top: 22px;
     padding-bottom: 6px;
     letter-spacing: 3px;
     /* padding-bottom: 12px; */
}

.sidebar-div-cont{
     width: 100%;
     height: 1px;
     background-color: #188C6D;
     margin-top: 12px;
     margin-bottom: 12px;
}

.app-sidebar-bottom-cont{
     position: absolute;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 5px;
     bottom: 0;
     left: 0;
     right: 0;
     border-top: 1px solid #188C6D;
}

.sidebar-comp-logo-cont{
     padding-top: 22px;
     padding-bottom: 12px;
     
     /* background-color: #008965; */
     /* border-bottom: 1px solid #e0e0e0; */
}

.sidebar-comp-logo-outr-cont{

background-color: #008965;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
}

.sidebar-logo-lable{
     font-weight: 800;
     font-size: 17px;
     color: #fff;
     font-family: inter;
     margin-left: 6px;
}

.sidebar-logo-ico{
     width: 32px;
     height: 32px;
     color: #fff;
     
}

.app-page-head-right-cont{
margin-right: 6%;
position: absolute;
font-size: 15px;
right: 0;
top:0;
/* background-color: red; */
display: flex;
height: 100%;
align-items: center;
}

.app-page-head-cont{
     width: auto;
     position: relative;
     height: auto;
     /* padding: 6%; */
     /* padding-top: 4%; */
     /* padding-bottom: 4%; */
     /* padding-top: 0px; */
     /* padding-bottom: 0px;   */
    border-bottom: 1px solid #e0e0e0;
}

.app-page-head-lab-cont{
     font-weight: 600;
     font-size: 32px;
     color: #555555;
     display: flex;
     flex: 1;
     width: auto;
     align-items: center;
}



.app-page-head-cont-ico-cont{ 
     display: flex;
     flex-direction: row;
     height: 100%;
}

.app-page-head-cont-ico{
     width: 32px;
     height: 32px;
     
}
.app-page-tab-cont{
     width: 100%;
     /* padding-top: 17px; */
     /* padding-bottom: 12px; */
     height: auto;

     /* position: absolute; */
     z-index: 100;
     /* background: rgba(248, 249, 250, 0.704); */
     /* backdrop-filter: blur(22px); */
     /* margin-bottom: 32px; */
     display: inline-flex;
     /* justify-content: center; */
     align-items: center;
     border-bottom: 1px solid #e0e0e0;
}

.app-profile-tab-cont{
     width: 100%;     
     height: auto;
     /* position: absolute; */
     z-index: 100;
     background: rgba(248, 249, 250, 0.704);
     backdrop-filter: blur(22px);
     border-bottom: 1px solid #e0e0e0;
     /* margin-top: 12px; */
     display: inline-flex;
     align-items: center;
     justify-content: center;

}

.app-product-listing-tab-cont{
     width: 100%;
     height: auto;
     display: inline-flex;
     align-items: center;

     border-bottom: 1px solid #e0e0e0;
}

.app-tab-main-cont{
     margin-left: 32px;
}

.app-tab-butt{
     height: 52px;
     width: auto;
     padding-left: 22px;
     padding-right: 22px;
     border-style: none;
     color: #bdbdbd;
     background-color: transparent;
     border:null;
     /* border-radius: 115px; */
     cursor: pointer;
     font-size: 14px;
}

.app-profile-tab-selec{
     color: #017D5C;
     
     border-top: 4px solid #017D5C ;
}

.app-tab-selec{
     /* background-color: #E6F2FF; */
     /* color: #fff; */
     color: #000;
     /* border:1px solid #0057FF; */
     border-bottom: 3px solid #000 ;
}

.app-prod-list-hed{
     
     color: #555555;    
}

.prod-list-opt-list-butt-cont{
     margin-right: 12px;
}

.topbar-page-lab-cont{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 22px;

}


.app-prod-list-bottom-cont{
     width: auto;
     height: auto;
     padding: 8%;
     padding-top: 3%;
     min-width: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* padding-bottom: 0%;   */
     /* display: flex; */
     /* align-items: center; */
}

.prodtable-card-cont{
     background-color: #fff;
     width: 100%;
     z-index: 100;
     margin-bottom: 54px;
     box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
     
}

.app-prod-tab-cont{
width: 100%;

}

.app-prod-anal-card-lab{
     font-size: 14px;
color: #323232;
font-weight: 600;
}

.app-prod-anal-list-main-cont{
    margin-bottom: 22px; 
    display: inline-flex;
    gap: 22px;
}

.app-prod-anal-data-lab{
     font-size: 28px;
     color: #188C6D;
     
     /* margin-top: 6px; */
     font-weight: 700;
}



.app-anal-card-cont{
     width: 100px;
     height: 200px;
     background-color: red;
}

.prod-list-opt-con{
     width: 100%;
     padding: 24px;
     /* padding-top: 22px; */
     /* padding-bottom: 22px; */
     display: inline-flex;
     position: relative;
     /* border-bottom: 1px solid #e0e0e0; */
}

.prod-list-srch-cont{
     /* margin-left: 22px; */
     margin-right: 22px;
     width: 200px;
     
}

.prod-list-srch-ico{
     width: 18px;
     height: 18px;
     
}

.prod-list-srch-txt{
     height: 32px;
     width: 100%;
     background-color: rgba(0 , 0, 0,0);
     border-style: none;
     padding-left:12px;
     outline: none;
}

.prod-list-sort-butt-ico
{
     width: 16px;
     height: 16px;
     margin-right: 4px;
}

.prod-list-sort-butt{
     height: 32px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 13px;
     color: #0057FF;
     background-color: #fff;
     padding-left: 16px;
     padding-right: 16px;
     margin-right: 12px;
     border-radius: 6px;
     cursor: pointer;
     outline: none;
     border: 1px solid #DBDBDB;
}

.prod-list-opt-list-right-cont{
     width: auto;
     height: 100%;
     
     position: absolute;
     display: flex;
     align-items: center;
     padding-right: 24px;
     right: 0;
     top: 0;
}

.data-tab-main-cont{
     
}
.data-tab-main{
     
}

.data-tab-row-cont{
     border-style: none;

}

.MuiTableRow-root	{
     
     border-style: none;
}

.data-tab-body-cont{
     box-shadow: none;
     border-style: none;
}

.data-tab-data-stat-data-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.data-tab-data-ern-data{
     font-weight: 500;
     /* font-family: 'copse'; */
}

.data-tab-data-stat-data{
     font-size: 12px;
     width: fit-content;
     background: rgba(186, 255, 193, 0.45);
     padding-left: 12px;
     padding-right: 12px;
     display: flex;
     color: #008965;
     justify-content: center;
     align-items: center;
     padding-top: 4px;
     padding-bottom: 5px;
     border-radius: 12px;

}

.data-tab-selec-cell-cont{
     /* width: 40px; */
     padding: 0;
}

.data-tab-selec-cell-innr-cont{
     height: 100%;
     /* border-right: 2px solid #f1f1f1; */
}

.data-tab-selec-img-cont{
     width: 100px;
}

.data-tab-data-nm-outer-cont{
     
     display: inline-flex;
     align-items: center;
     gap: 10px;
}

.data-tab-data-name-cont{
     width: 250px;
     max-width: 250px;
     

}

.data-tab-act-cont{
     /* width: 100px; */
}

.data-tab-data-name-data{
     /* font-weight: 500; */
     font-family: 'poppins';
}

.data-tab-data-link-data{
display: inline-flex;
align-items: center;
gap: 12px;
}

.app-tab-del-mod-lab{
     font-size: 18px;
     font-weight: 700;
     color:#555555;
}

.app-del-mess-desc{
     margin-bottom: 22px;
     font-size: 13px;
     color: #555555;
     
}


.data-tab-data-link
{
     color: #0057FF;
     text-decoration: none;
     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 12px;
     padding-right: 12px;
     border-radius: 12px;
     background: #DAEFFF;
     font-size: 12px;
}

.prod-tab-del-mod-cont{
     padding: 22px;
}

.prod-tab-del-mod-butt-cont{
 display: inline-flex;
 flex-direction: row;
 width: 100%;
 flex: 1;
 gap: 12px;
}


.data-tab-data-img-data{
     
     width: 42px;
     height: 42px;
     background-color: #f5f5f5;
     border-radius: 8px;
}

.data-tab-data-act-cont{
     
     display: inline-flex;

     
}

.data-tab-data-nrm-data{
     font-size: 13px;


}


.app-prod-add-form-cont{
     width: 50%;

}


.app-prod-add-form-inner{
     padding: 22px;
     padding-bottom: 1px;
}



.app-prod-add-footer-inner{
     padding: 12px;
     width: 100%;
     flex: 1;
     flex-direction: row;
     display: inline-flex;
     flex-direction: row ;
}

.app-prod-add-form-footer-right-cont{
     display: flex;
     flex: 1;
     width: auto;
     justify-content: end;
}

.app-popover-cont{
     width: 200px;
     padding: 7px;
     font-size: 13px;
}

.app-side-bar-popover-cont{
     width: 150px;
     padding: 7px;
     font-size: 13px;
}

.app-popover-lab-cont{
 /* margin-bottom: 12px; */

 padding: 12px;
 
}

.app-popover-rad-data-cont{
     width: 100%;
}

.app-prof-pic-cont{
     width: 102px;
     height: 102px;
     background-color: #f1f1f1;
     border-radius: 200px;
     
}

.app-prof-card-lab-cont{
     margin-bottom: 12px;
     font-size: 14px;
     color:#858585;
     font-weight: 500;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: start;
     gap: 5px;
}

.app-prof-marker-cont{
     padding-bottom: 32px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
}

.app-login-left-tab-cont{
     font-size: 23px;
     font-weight: 600;

}

.app-login-logo-cont{
     padding: 22px;
     position: absolute;
     top: 0;
     left: '22px';
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 110;
     
}

.app-login-logo{
     width: 42px;
     height: 42px;
     z-index: 110;
     color: #000;
}

.app-login-left-sub-tab-cont{
     font-size: 14px;

}

.app-login-cred-crt-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.app-login-for-link{
          font-size: 12px;
          text-decoration: none;
          color: #008965;
}

.app-login-cret-link{
     font-size: 13px;
     font-weight: 600;
     color: #008965;
     text-decoration: none;
}

.app-earn-card-cont{
     background-color: #fff;
     /* box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4); */
     border:2px solid #e0e0e0;
     width: auto;
     display: flex;
     flex-direction: column;
     flex: 1;     
     height: auto;
     border-radius: 8px;
     
}

.app-earn-card-lab-right-cont{
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     width: auto;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}


.app-earn-card-lab-cont{
     font-size: 13px;
     font-weight: 600;
     font-family: inter;
     color: #000;
     position: relative;
     padding: 16px;
     padding-bottom: 0px;
     
     /* border-bottom: 1 px solid #e0e0e0; */
}

.app-earn-card-data-cont{
     font-size: 24px;
     padding: 16px;
     padding-top: 11px;
     padding-bottom: 11px;
     font-weight: 500;
     color: #03363E;
     /* font-family: 'Copse'; */
}

.app-earn-card-bott-data-cont{
     font-size: 12px;
     padding: 16px;
     padding-top: 11px;
     border-top: 1px solid #e0e0e0;
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
     background-color: #f9f9f9;
     display: flex;
     flex-direction: row;
     gap:6px;
     align-items: center;
     font-size: 12px;
     font-weight: 600;
     font-family: inter;
}
.raise-met{
     color: #00A657;
}

.data-earn-tab-nam-cont{
     font-family: 'inter';
}

.data-earn-tab-ind-cont{
     width: 50px;
     
}

.desc-edit-main-cont{
     white-space: pre-wrap;
     overflow-wrap: break-word;
     word-wrap: break-word;
}

.app-desc-wrap-cont{
     padding: 0;
     border:1px solid #d9d9d9;
     border-radius: 4px;
     padding: 12px;
     display: flex;
     flex-direction: column;
     

}

.app-desc-toolbar-cont{
     border: 1px none #d9d9d9;
     border-radius: 4px;
     color: #000;
     padding: 0px;
     margin: 0px;
}

.app-desc-toolbar-cont-inline{
     color: #000;
     
}
.app-desc-toolbar-cont-inline-ico{
     color: #000;
     font-size: 4px;    
     border-radius: 5px;
     height: 32px;
     width: 32px;
}

.app-desc-toolbar-cont-inline-ico:hover{
     box-shadow: none;
     background-color: #e0e0e0;
}

.app-desc-edit-cont{
     border: 1px none #d9d9d9;
     border-radius: 12px;
     padding-left: 12px;
     font-size: 13px;
     margin-top: 12px;
     box-sizing: border-box;
     width: 100%;
     
}

.app-prod-add-form-tit-cont{
     margin-bottom: 7px;
     font-size: 13px;
     color:"#353535";
     margin-left: 5px;
}

.app-prod-add-form-type-cont{
     width: 100%;
     height: auto;
     
     overflow: visible;
     
     
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
     display: none;
}
   
   .react-horizontal-scrolling-menu--scroll-container {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
}
   


.app-prod-type-card-cont{
     width: 200px;
     height: auto;
     min-width: 100px;
     min-height: 150px;

     margin-right: 12px;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;   
     background-color: #fff;
     z-index: 100;
     cursor: pointer;
     
}

.app-prod-type-card-cont:hover{
     background-color: red;
}

.app-prod-type-card-pic-cont{
width: 100%;
height: auto;
display: flex;
justify-content: flex-end;
align-items: baseline;
flex-direction: column;
padding: 16px;
padding-bottom: 12px;

}


.app-prod-type-card-pic{
width: 52px;
height: 52px;
background-color: #EBE1CE;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
}



.app-prod-type-card-name-cont{
     padding: 0px;
     padding-left: 16px;
     padding-bottom: 3px;
     font-size: 13px;
     font-weight: 600;
     color: #184A4E;
}

.app-prod-type-card-desc-cont{
     padding: 16px;
     padding-top: 0px;
     font-size: 11px;
     color: #656565;
     word-wrap: break-word;
     
}
.app-prod-cov-prev-cont{
     width: 100%;
     height: auto;
     /* background-color: #f7f7f7; */
     border: 1px solid #d9d9d9;
     overflow: hidden;
     border-radius: 12px;
     position: relative;
}


.app-prod-bub-prv-cont{
     position: absolute;    
     bottom: 0;
     left: 0;
     right: 0;
     height: 32px;
     width: 100%;
     gap: 7px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #F7F7F7 59.17%);
}

.app-prod-bub-slec{
     width: 8px;
     cursor: pointer;
     height: 8px;
     border-radius: 200px;
     background-color: #000;
}

.app-prod-bub-unslec{
     width: 8px;
     cursor: pointer;
     height: 8px;
     border-radius: 200px;
     background-color: #fff;
     border:1px solid #000
}

.app-prod-cov-hori-prev{
     width: 100%;
     height: auto;

     border-bottom: 1px solid #d9d9d9;
     display: inline-flex;
     gap: 10px;
     padding: 12px;
}

.app-prod-hor-prv-img{
     height: 100%;
     width: 100%;
     border-radius: 12px;
     object-fit: scale-down;
}

.app-prod-hor-prv-img-cont{
     
     cursor: pointer;
     height: 62px;
     width: 62px;
     border-radius: 12px;
     position: relative;
     border-radius: 7px;
     
}

.app-prod-img-adder-butt-cont{

}

.app-prod-img-adder-butt{
     width: 62px;
     height: 100%;
     background-color: #fff;
     border-radius: 12px;
     outline: none;
     border: 1px solid  #0057FF;
     color: #0057FF;
     font-size: 22px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.app-prod-img-adder-butt:hover{
     background-color: #f1f1f1;
}

.app-prod-det-cover-big-prev-cont{
     position: relative;     
}

.app-prod-cov-hori-prev-selec{
     border: 2px solid #0057FF;
}

.app-prod-hor-prv-img-overlay-cont{
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     backdrop-filter: blur(2px);
     border-radius: 7px;
     visibility: hidden;
     
}

.app-prod-hor-prv-img-overlay-check-cont{
     z-index: 60;
     width: 14px;
     height: 14px;
     background-color: #0057FF;
     color: #fff;
     font-size: 9px;
     position: absolute;
     right: 0;
     top: 0;
     margin-right: -5px;
     margin-top: -5px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 120px;
}

.app-prod-hor-prv-img-cont:hover > .app-prod-hor-prv-img-overlay-cont{
     visibility: visible;
}

.app-prod-cov-prev-clos-cont{
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     padding: 22px;
     z-index: 50;
     display: flex;
     justify-content: flex-end;     
     align-items: center;
     pointer-events: none;
     gap: 7px;
}

.app-prod-cov-prev-clos-butt{
     width: 32px;
     height: 32px;
     display: flex;
     font-size: 17px;
     border-radius: 32px;
     background-color: #F3EFEC;
     border-style: none;
     outline: none;
     color: #03363E;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     pointer-events: all;
     z-index: 70;
}

.app-prod-cov-img{
     width: 100%;
     height: 300px;
     object-fit: contain;
     
}

.app-prod-det-ctnt-view{
     width: 100%;
     height: auto;
     /* border: 1px solid #d9d9d9; */
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     /* padding: 12px; */
     gap: 12px;
}


.app-ctnt-dis-cont{
     height: auto;
     width: 100%;
     background-color: #f9f9f9;    
     display: flex;
     border-radius: 12px;
     flex-direction: row;
     justify-content: center;
}

.app-ctnt-dis-ico-cont{
     width: 62px;
     height: 62px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-ctnt-dis-rigt-cont{
     width: auto;
     margin-right: 12px;
     height: 62px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 7px;
}

.app-ctnt-outer-cont{
     width: auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 7px;
}

.app-prod-cont-upl-butt{
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 100%;
     flex: 1;
     flex-direction: row;
     border-style: none;
     /* border-radius: 12px; */
     border-bottom-left-radius: 12px;
     cursor: pointer;
     outline: none;
     gap: 7px;
     background-color: #184A4E;
     color: #fff;
     font-size: 14px;
     
}

.app-prod-cont-fil-butt{
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 100%;
     flex: 1;
     flex-direction: row;
     border-style: none;
     /* border-radius: 12px; */
     border-bottom-right-radius: 12px;
     cursor: pointer;
     outline: none;
     gap: 7px;
     background-color: #f9f9f9;
     color: #03363E;
     font-size: 14px;
}


.app-ctnt-dis-drag-cont{
     width: 22px;
     height: 22px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #000;

}

.app-ctnt-dis-drag-cont:hover{
     background-color: #f8f8f8;
}

.app-ctnt-dis-ico{
     width: 42px;
     height: 42px;
     background-color: #efefef;
     border-radius: 12px;
     font-size: 22px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #454545;
}

.app-ctnt-dis-name-cont{
     display: flex;
     flex-direction: column;
     flex: 1;
     justify-content: center;
     /* align-items: center;     */
}
.app-ctnt-dis-name{
     font-size: 13px;
     color: #000;
}

.app-ctnt-dis-typ{
     font-size: 11px;
     color: #2B99FF;

}
.app-ctnt-dis-mor-butt{
     width: 32px;
     height: 32px;
     border-radius: 120px;
     outline: none;
     border-style: none;
     background-color: #f5f5f5;
     color: #000;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 17px;
     cursor: pointer;     
}