.app-base-cont{
     min-width: 100wh;
     max-width: 100wh;
     min-height: 100vh;
     max-height: 100vh;
     height: 100%;
     width: 100%;
     /* background-color: #F8F9FA; */
     background-color: #ECF0F3; 
     z-index: 70;
     
     /* background-color: #fff; */
     display: flex;
     overflow: hidden;

}
.app-inner-base-cont{
 display: flex;
 flex-direction: column;
 flex: 1;
 width: 100%;
 max-width: 100%;
 height: 100vh;
 min-height: 100vh;
 max-height: 100vh;
 background-color: #fff;
 box-shadow: -4px 0px 6px  rgba(0, 0, 0, 0.03);
 overflow: hidden;
}
.app-page-base-cont{
     display: flex;
     max-width: 100%;
     width: 100%;
     height: 100%;
     display: flex;
     flex: 1;
     /* overflow-y: scroll; */
     overflow-x: hidden;
     
}

.app-page-cont{
     width: 100%;
     height: 100vh;
     max-height: 100vh;
     min-height: 100vh;
 
}


.app-login-main-cont{
     min-width: 100wh;
     max-width: 100wh;
     min-height: 100vh;
     max-height: 100vh;
     height: 100%;
     width: 100%;
     background-color: #ECF0F3; 
     z-index: 70;
     display: flex;
     overflow: hidden;

}
