
/*/////////STYLE FOR  "ONLY" INDEX FILE OF UI////////////////////////////////////*/

.page-header-left-cont{
     display: flex;
     flex: 1;
     flex-direction: column;    
}

.page-header-right-cont{
     display: flex;
     flex: 1;
     flex-direction: row;
     justify-content: flex-end;
     gap: 12px;    
}

.file-picker-inner-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 22px;

}

.file-picker-upload-button{
     width: fit-content;
     height: 42px;
     padding-left: 32px;
     padding-right:32px;
     font-size: 14px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 7px;
     border-radius: 7px;
     background-color: #17494D;
     border-style: none;
     color: #fff;
     cursor: pointer;

}

.file-picker-lab-cont{
     
     width: 100%;
     /* padding-left: 12px; */
     /* padding-right: 12px; */
     display: flex;
     justify-content: center;
     padding-top: 3px;
     padding-bottom: 3px;
     border-radius: 4px;
     font-size: 13px;
}

.file-picker-upload-url-butt{
     font-size: 12px;
     font-weight: 500;
     color: #184A4E;
     text-decoration: underline;
     margin-top: 3px;
     cursor: pointer;
}

.file-pick-txt-high{
     color: #0094FF; 
     font-weight: 500;
     border-radius: 8px;
}

.file-picker-head-cont{
     color: #17494D;
     font-size: 17px;
     
}

.file-picker-sub-cont{
width: 80%;
     font-size: 12px;
margin-top: 12px;
/* margin-bottom: 12px; */
text-align: center;
}
.file-picker-learn-more{
     font-size: 11px;
     margin-top: 12px;
     text-decoration: underline;
     cursor: pointer;
}

.app-prod-card-desc{
     padding: 32px;
     padding-top: 11px;
     padding-bottom: 11px;
     font-size: 13px;
     color: #858585;
     
     margin-right: 22px;     
}

.card-main-cont{
     width: 500px;
     box-sizing: border-box;
}

.popover-main-cont{
border-radius: 12px;

border: 1px solid #d9d9d9;
padding: 6px;
}

.noti-card-icon-cont{
     font-size: 20px;
     display: flex;
     justify-content: start;
     align-items: flex-start;
}
