
.file-picker-inner-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.file-picker-lab-cont{
     background-color: #E6F2FF;
     width: fit-content;
     padding-left: 12px;
     padding-right: 12px;
     padding-top: 3px;
     padding-bottom: 3px;
     border-radius: 4px;
     font-size: 13px;
}


.file-picker-sub-cont{
font-size: 11px;
margin-top: 7px;
}

.app-prod-card-desc{
     padding: 22px;
     font-size: 13px;
     color: #555555;
     
}

